
/* Range container style */
.range-slider {
  position: relative;
  max-width: 900px;
  width: 36%;
  margin: 0rem 0rem 0rem 0rem;
  width: 100%;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  background-color: #fff;
}

/* Range heading style */
label.form-label {
  font-size: 20px;
  font-weight: 640;
  color: #565656;
}

/* Range Input style */
#range-input::-moz-range-thumb {
  background-color: #018ed4;
}

#range::-webkit-slider-runnable-track {
  height: 6px;
  background: linear-gradient(
    90deg,
    #018ed4 var(--range-progress),
    #9dcade var(--range-progress)
  );
}
.form-range::-moz-range-track {
  background: linear-gradient(
    90deg,
    #018ed4 var(--range-progress),
    #9dcade var(--range-progress)
  );
}
#range::-webkit-slider-thumb {
  background-color: #008FD4 ;
  height: 23px;
  width: 23px;
  transform: translateY(calc(-50% + 6px));
}
#range::-moz-range-thumb {
  background-color: #008FD4;
  height: 23px;
  width: 23px;
}
#tooltip {
  position: absolute;
  bottom: 19px;
}
#tooltip span {
  position: absolute;
  text-align: center;
  display: block;
  line-height: 1;
  color: #9e9e9e;
  background-color: #fff;
  padding: 0 0.5rem;
  font-size: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 0.2rem;
  margin-top: -2px;
}

/* Min Max Text style */
.min-max-container {
  color: #98989B;
}
.min-value{
  margin-top: -6px;
}
.max-value{
  margin-top: -6px;
}